.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.title-main {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
}

.title-sub {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 32px;
}

.select-player-container {
    padding: 50px;
    border: 1px solid black;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row-space-evenly {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


.win-result {
    height: 90px;
    font-size: 70px;
    text-align: center;
    margin-bottom: 30px;
}

.blue {
    background-color: deepskyblue;
}

.red {
    background-color: tomato;
}

.nice {
    color: goldenrod;
}